<div class="afp-main">
  <legend class="afp-model-caption">{{model.caption}}</legend>
  <div class="afp-scrollable">
    <ul class="afp-entity-list nav nav-list">
      {{#each model.entities}}
        {{#unless this.hidden}}
          <li class="afp-entity nav-header">{{this.caption}}</li>
            {{#each this.attributes}}
              {{#unless this.hidden}}
                <li class="afp-attribute" modelPath="{{this.modelPath}}">
                  <span class="afp-attribute-caption">{{this.caption}}</span>
                  {{#if this.description}}
                    <i class="fa fa-info-circle afp-attribute-info" data-placement="right" data-trigger="hover" data-title="{{this.caption}}" data-content="{{this.description}}"></i>
                  {{/if}}
                </li>
              {{/unless}}
            {{/each}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>
